body {
  font-family: 'Inter', sans-serif;
}

.header {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 40px;
}

#logo {
  height: 250px;
  width: auto;
}

.navbar-link  {
  font-weight: 600;
  color: #111;
    margin-left: 2rem;
    font-size: 15px;
}


.a-header {
    font-weight: 600;
    color: #111;
      margin-left: 2rem;
      font-size: 15px;
  }

.arrow-down {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(-45deg);
  margin-left: 8px;
  margin-bottom: 2px;
}

.navbar-item  {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.navbar-dropdown {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 200px;
  padding: 1rem;
  box-shadow: 0 5px 30px rgba(108, 135, 135, 0.5);
  z-index: 100;
  list-style: none;
  border-radius: 5px;
}

.navbar-item-wrapper:hover .navbar-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.navbar-item-wrapper {
  position: relative;
  display: inline-block;
  align-items: flex-start;
}

#projects-cont {
  background-color: #ebf5f5;
  padding: 40px 40px;
  margin: -7px -7px;
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

p {
  font-weight: 300;
  line-height: 2.2rem;
  margin-top: 20px;
  max-width: 960px;
  font-size: 1.5rem;
}

#desc-button {
  background: transparent;
  border: 2px solid #111;
  border-radius: 0;
  color: #111;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  overflow: hidden;
  padding: 15px 30px;
  position: relative;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
  z-index: 0;
  margin-bottom: 50px;
}

#desc-button::before {
  background-color: #191e1e;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-101%);
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

#desc-button:hover {
  color: #fff;
}

#desc-button:hover::before {
  transform: translateX(0);
}

.line {
  background: linear-gradient(45deg, #6db33f 26%, #80ea6e 89%);
  height: 6px;
  margin: 0 -7px;
}

  
  
